$primary-color: #92f6fe;
$primary-color-rgba: rgba(143,246,252,.56);

*{
	box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	background-color: #0A161D;
	font-family: 'Open Sans Condensed', sans-serif;
	height: 100%;
}

.clear {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.particles-background{
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

div.wrapper{
	width: 1280px;
	margin:0 auto;
	&:after{
		@extend .clear;
	}
}

header{
	position: fixed;
	width: 100%;
	z-index: 5;
	nav{
		padding-top: 70px;
		position: relative;
		img.head-logo{
			width: 212px;
			float: right;
			display: none;
		}
		ul.menu{
			li{
				float: left;
				padding-right: 35px;
				position: relative;
				&:first-child{
					&:after{
						display: none;
					}
				}
				&:last-child{
					padding-right: 0px;
					&:after{
						display: none;
					}
				}
				&:after{
					content: '-';
					position: absolute;
					right: 0;
					color: $primary-color;
					margin-right: 16px;
					margin-top: 2px;
					opacity: .56;
				}
				&.menu-el{
					display: none;
				}
				a{
					color: $primary-color;
					font-size: 20px;
					font-weight: 300;
					transition: all 0.2s linear;
					opacity: .56;
					&:hover{
						cursor: pointer;
						opacity: 0.8;
					}
				}
				&.hamburger{
					position: relative;
	  			width: 50px;
	  			height: 21px;
	  			padding-right: 20px;
	  			transition: all 0.2s linear;
					&:before{
						content: "";
						position: absolute;
						left: 0;
						top: 0px;
						width: 30px;
						height: 2px;
						background: $primary-color;
						box-shadow: 0 9px 0px 0 $primary-color, 0 18px 0 0 $primary-color;
					}
					&:hover{
						cursor: pointer;
						opacity: 0.7;
					}
				}
			}
			&.displayed{
				li{
					&.hamburger{
						&:before{
							background: white;
							box-shadow: 0 9px 0px 0 white, 0 18px 0 0 white;
						}
					}
				}
				
			}
		}
	}
}



div.indicator{
	position: absolute;
	top: 50%;
	width: 1px;
	height: 100%;
	background-color: #FFFFFF;
	margin-left: 15px;
	z-index: 2;
	span.selected{
		position: absolute;
		top: -34px;
    left: -32px;
		width: 85px;
		height: 85px;
		background-image: url(../images/circle.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		transition: all 0.2s linear;
	}
	.step{
		width: 36px;
		height: 36px;
		background-color: transparent;
		margin-bottom: 98px;
		margin-left: -18px;
		position: relative;
		margin-top: -18px;
		&:before{
			content: '';
			width: 100%;
			height: 1px;
			background-color: #FFF;
			position: absolute;
			top: 50%;
			margin-top: -0.5px;
		}
		&:hover{
			cursor: pointer;
		}
	}
}

section{
	position: relative;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;
	.discover{
		position: absolute;
		bottom: 20px;
		left: 50%;
		width: 140px;
		margin-left: -70px;
		text-align: center;
		color: $primary-color-rgba;
		font-size: 15px;
		font-family: 'Open Sans', sans-serif;
		padding-top: 110px;
		background-image: url(../images/discover.png);
		background-position: center;
		background-repeat: no-repeat;
		transition: all 0.2s linear;
		&:hover{
			cursor: pointer;
			opacity: 0.7;
		}
	}
	.wrapper{
		position: relative;
		transition: all 0.2s linear;
		display: none;
	}
	.likeon-intro{
		width: 100%;
		text-align: center;
		h1{
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 54px;
			color: $primary-color;
			font-weight: 300;
			opacity: .56;
			margin-bottom: 20px;
			padding: 0px 245px;
		}
		p{
			color: #FFFFFF;
			font-size: 16px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			padding: 0px 400px;
			line-height: 24px;
		}
		img.logo{
			width: 300px;
			margin-bottom: 100px;
		}

	}
	.likeon-section01{
		width: 100%;
		.left{
			width: 30%;
			display: inline-block;
			text-align: left;
			vertical-align: top;
			padding-left: 100px;
			h2{
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 43px;
				color: $primary-color;
				font-weight: 300;
				opacity: .56;		
				margin-bottom: 20px;
			}
			p{
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 21px;
				font-weight: 300;
				font{
					color: $primary-color;
				}
				b{
					font-weight: 500;
				}
			}
		}
		.right{
			width: 50%;
			display: inline-block;
			padding-top: 44px;
			float: right;
			p{
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 21px;
				font-weight: 300;
			}
			.platform{
				position: absolute;
				width: 100%;
				height: 160px;
				background-color: #263442;
				border-radius: 2px;
				border: 1px solid $primary-color-rgba;
				box-shadow: 0px 0px 68px -20px $primary-color;
				margin-top: 200px;
			}
			img{
				position: relative;	
				z-index: 2;
				right: 52px;
			}
		}
	}
	.likeon-section02{
		width: 100%;
		.left{
			width: 52%;
			display: inline-block;
			text-align: left;
			vertical-align: middle;
			padding-left: 100px;
			h2{
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 60px;
				color: $primary-color;
				font-weight: 300;
				opacity: .56;		
				margin-bottom: 20px;
			}
			p{
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 21px;
				font-weight: 300;
				padding-right: 120px;
				font{
					color: $primary-color;
				}
				b{
					font-weight: 500;
				}
			}
		}
		.right{
			width: 40%;
			display: inline-block;
			padding-top: 44px;
			/*float: right;*/
			vertical-align: middle;
			p{
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 21px;
				font-weight: 300;
			}
			.platform{
				position: absolute;
				width: 100%;
				height: 160px;
				background-color: #263442;
				border-radius: 2px;
				border: 1px solid $primary-color-rgba;
				box-shadow: 0px 0px 68px -20px $primary-color;
				margin-top: 200px;
				z-index: 2;
			}
			img{
				position: relative;
				margin-left: 42px;
				top: -36px;
			}
			p{
				position: relative;
				z-index: 2;
				top: -116px;
				padding-left: 40px;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
			}
		}
	}
	.likeon-section03{
		width: 100%;
		.left{
			width: 48%;
			display: inline-block;
			text-align: left;
			vertical-align: middle;
			padding-left: 100px;
			text-align: center;
			
		}
		.right{
			width: 50%;
			display: inline-block;
			padding-top: 44px;
			/*float: right;*/
			vertical-align: middle;
			padding-right: 110px;
			h2{
				font-family: 'Roboto Condensed', sans-serif;
				font-size: 53px;
				color: $primary-color;
				font-weight: 300;
				opacity: .56;		
				margin-bottom: 20px;
			}
			h3{
				font-family: 'Roboto', sans-serif;
				font-size: 30px;
				color: $primary-color;
				font-weight: 300;
				opacity: .56;		
				margin-bottom: 20px;
			}
			p{
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 21px;
				font-weight: 300;
				padding-right: 120px;
				font{
					color: $primary-color;
				}
				b{
					font-weight: 500;
				}
			}
		}
	}
	.likeon-section04{
		width: 100%;
		h2{
			padding-left: 100px;
			width: 45%;
			display: block;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 53px;
			color: $primary-color;
			font-weight: 300;
			opacity: .56;		
			margin-bottom: 20px;
			clear: both;
		}
		.left{
			width: 45%;
			display: inline-block;
			text-align: left;
			vertical-align: top;
			padding-left: 100px;
			/*text-align: center;*/
			img{
				position: relative;
				margin-left: 50px;
			}
			
		}
		.right{
			width: 50%;
			display: inline-block;
			padding-top: 44px;
			/*float: right;*/
			vertical-align: top;
			padding-right: 110px;
			h4{
				font-family: 'Roboto', sans-serif;
				font-size: 30px;
				color: $primary-color;
				font-weight: 400;
				opacity: .56;		
				margin-bottom: 20px;
			}
			h3{
				font-family: 'Roboto', sans-serif;
				font-size: 30px;
				color: $primary-color;
				font-weight: 300;
				opacity: .56;		
				margin-bottom: 20px;
			}
			p{
				font-family: 'Roboto', sans-serif;
				font-size: 18px;
				color: #FFFFFF;
				line-height: 21px;
				font-weight: 300;
				padding-right: 120px;
				margin-bottom: 35px;
				font{
					color: $primary-color;
				}
				b{
					font-weight: 500;
				}
			}
		}
	}
}