* {
  box-sizing: border-box; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body {
  background-color: #0A161D;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%; }

.clear, div.wrapper:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.particles-background {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2; }
  .particles-background #particles-js {
    height: 100%; }

a:hover {
  cursor: pointer; }

a.cta {
  color: #92f6fe;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  padding: 6px 20px;
  text-align: center;
  font-weight: 400;
  border: 1px solid #92f6fe;
  border-radius: 3px;
  box-shadow: 0px 0px 20px -4px #92f6fe;
  transition: all 0.2s linear;
  display: inline-block; }
  a.cta:hover {
    background-color: #92f6fe;
    color: #0A161D;
    cursor: pointer; }

div.wrapper {
  /*width: 1280px;*/
  margin: 0 auto; }

header {
  position: fixed;
  width: 100%;
  z-index: 5; }
  header nav {
    padding-top: 70px;
    position: relative; }
    header nav img.head-logo {
      width: 212px;
      float: right;
      display: none; }
    header nav.mobile {
      display: none; }
    header nav ul.menu li {
      float: left;
      padding-right: 35px;
      position: relative; }
      header nav ul.menu li:first-child:after {
        display: none; }
      header nav ul.menu li:last-child {
        padding-right: 0px; }
        header nav ul.menu li:last-child:after {
          display: none; }
      header nav ul.menu li:after {
        content: '-';
        position: absolute;
        right: 0;
        color: #92f6fe;
        margin-right: 16px;
        margin-top: 2px; }
      header nav ul.menu li.menu-el {
        display: none; }
      header nav ul.menu li a {
        color: #92f6fe;
        font-size: 20px;
        font-weight: 300;
        transition: all 0.2s linear; }
        header nav ul.menu li a:hover {
          cursor: pointer;
          opacity: 0.8; }
        header nav ul.menu li a.active {
          opacity: 1;
          text-decoration: line-through; }
      header nav ul.menu li.hamburger {
        position: relative;
        width: 50px;
        height: 21px;
        padding-right: 20px;
        transition: all 0.2s linear; }
        header nav ul.menu li.hamburger:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0px;
          width: 30px;
          height: 2px;
          background: #92f6fe;
          box-shadow: 0 9px 0px 0 #92f6fe, 0 18px 0 0 #92f6fe; }
        header nav ul.menu li.hamburger:hover {
          cursor: pointer;
          opacity: 0.7; }
    header nav ul.menu.displayed li.hamburger:before {
      background: white;
      box-shadow: 0 9px 0px 0 white, 0 18px 0 0 white; }

div.mobile-menu {
  width: 85%;
  height: 100%;
  background-color: #173043;
  background: -moz-linear-gradient(45deg, #183245 0%, #0c1a24 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #183245), color-stop(100%, #0c1a24));
  background: -webkit-linear-gradient(45deg, #183245 0%, #0c1a24 100%);
  background: -o-linear-gradient(45deg, #183245 0%, #0c1a24 100%);
  background: -ms-linear-gradient(45deg, #183245 0%, #0c1a24 100%);
  background: linear-gradient(45deg, #183245 0%, #0c1a24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183245', endColorstr='#0c1a24', GradientType=1 );
  z-index: 9;
  position: fixed;
  padding-top: 170px;
  box-shadow: 1px 1px 60px #000;
  left: -200%;
  transition: all 0.2s linear; }
  div.mobile-menu ul li {
    margin-bottom: 10px; }
    div.mobile-menu ul li a {
      padding: 15px 30px;
      color: #92f6fe;
      font-size: 20px;
      display: block;
      cursor: pointer; }
    div.mobile-menu ul li.social a {
      float: left;
      padding: 15px 15px 15px 30px;
      font-size: 25px; }
      div.mobile-menu ul li.social a:last-child {
        padding-left: 15px; }
  div.mobile-menu a.close {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 30px;
    top: 30px; }

div.indicator {
  position: fixed;
  top: 50%;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 15px;
  z-index: 2;
  margin-top: -130px; }
  div.indicator span.selected {
    position: absolute;
    top: -23px;
    left: -21px;
    width: 56px;
    height: 56px;
    background-image: url(../images/circle.png);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: contain;
    transition: all 0.2s linear;
    z-index: 2; }
    div.indicator span.selected:after {
      content: '';
      position: absolute;
      height: 80px;
      width: 3px;
      left: 50%;
      margin-left: -8px;
      background-color: rgba(143, 246, 252, 0.56);
      z-index: 0;
      opacity: .5;
      top: 50%;
      margin-top: -45px; }
  div.indicator .step {
    width: 15px;
    height: 36px;
    background-color: transparent;
    margin-bottom: 60px;
    margin-left: -7px;
    position: relative;
    margin-top: -18px; }
    div.indicator .step:first-child {
      margin-top: 50%; }
    div.indicator .step:before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.3);
      position: absolute;
      top: 50%;
      margin-top: -0.5px; }
    div.indicator .step:hover {
      cursor: pointer; }

section {
  position: relative;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  opacity: 1;
  transition: all 0.5s ease-in; }
  section.hidden {
    opacity: 0;
    padding-left: 600px; }
  section .discover {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    text-align: center;
    color: rgba(143, 246, 252, 0.56);
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 110px;
    background-image: url(../images/discover.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s linear; }
    section .discover:hover {
      cursor: pointer;
      opacity: 0.7; }
  section a.next-fold {
    position: absolute;
    bottom: 20px;
    width: 80px;
    height: 48px;
    background-image: url(../images/flecha.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    margin-left: -40px; }
  section .wrapper {
    position: relative;
    transition: all 0.2s linear;
    display: none; }
  section .likeon-intro {
    width: 100%;
    text-align: center; }
    section .likeon-intro h1 {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 54px;
      color: #92f6fe;
      font-weight: 300;
      margin-bottom: 42px;
      padding: 0px 245px; }
    section .likeon-intro img.logo {
      width: 300px;
      margin-bottom: 100px; }
  section .likeon-section01 {
    width: 100%; }
    section .likeon-section01 .left {
      width: 30%;
      display: inline-block;
      text-align: left;
      vertical-align: top;
      padding-left: 100px;
      padding-top: 50px; }
      section .likeon-section01 .left h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 43px;
        color: #92f6fe;
        font-weight: 300;
        margin-bottom: 40px; }
      section .likeon-section01 .left p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 22px;
        font-weight: 300;
        margin-bottom: 40px; }
        section .likeon-section01 .left p font {
          color: #92f6fe; }
        section .likeon-section01 .left p b {
          font-weight: 500; }
      section .likeon-section01 .left a.cta {
        text-align: left;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        width: 90%;
        line-height: 22px;
        padding: 10px 22px; }
    section .likeon-section01 .right {
      width: 50%;
      display: inline-block;
      float: right; }
      section .likeon-section01 .right p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 22px;
        font-weight: 300; }
      section .likeon-section01 .right .platform {
        position: absolute;
        width: 100%;
        height: 160px;
        background-color: #263442;
        border-radius: 2px;
        border: 1px solid rgba(143, 246, 252, 0.56);
        box-shadow: 0px 0px 68px -20px #92f6fe;
        margin-top: 200px; }
      section .likeon-section01 .right img {
        position: relative;
        z-index: 2;
        right: 52px; }
  section .likeon-section02 {
    width: 100%; }
    section .likeon-section02 .left {
      width: 52%;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      padding-left: 100px; }
      section .likeon-section02 .left h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 60px;
        color: #92f6fe;
        font-weight: 300;
        margin-bottom: 20px; }
      section .likeon-section02 .left p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 22px;
        font-weight: 300;
        padding-right: 120px;
        margin-bottom: 20px; }
        section .likeon-section02 .left p font {
          color: #92f6fe; }
        section .likeon-section02 .left p b {
          font-weight: 500; }
      section .likeon-section02 .left a.cta {
        text-align: left;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 22px;
        padding: 10px 22px; }
    section .likeon-section02 .right {
      width: 40%;
      display: inline-block;
      padding-top: 44px;
      /*float: right;*/
      vertical-align: middle;
      text-align: center; }
      section .likeon-section02 .right p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 22px;
        font-weight: 300; }
      section .likeon-section02 .right .platform {
        position: absolute;
        width: 100%;
        height: 160px;
        background-color: #263442;
        border-radius: 2px;
        border: 1px solid rgba(143, 246, 252, 0.56);
        box-shadow: 0px 0px 68px -20px #92f6fe;
        margin-top: 200px;
        z-index: 2; }
      section .likeon-section02 .right img {
        position: relative;
        margin-left: 42px;
        top: -36px; }
      section .likeon-section02 .right p {
        position: relative;
        z-index: 2;
        padding-left: 40px;
        font-family: 'Roboto', sans-serif;
        line-height: 22px;
        text-align: justify; }
    section .likeon-section02.copy-section04 .left {
      padding-top: 50px; }
      section .likeon-section02.copy-section04 .left h2 {
        font-size: 53px; }
    section .likeon-section02.copy-section04 .right .perks {
      width: 350px;
      height: 350px;
      margin: 0 auto; }
      section .likeon-section02.copy-section04 .right .perks .block {
        float: left;
        width: 50%;
        height: 50%;
        display: table-cell;
        border: 0.5px solid #586069;
        padding: 15px 20px;
        text-align: center;
        perspective: 1000px; }
        section .likeon-section02.copy-section04 .right .perks .block:hover .flipper, section .likeon-section02.copy-section04 .right .perks .block.hover .flipper {
          transform: rotateY(180deg); }
        section .likeon-section02.copy-section04 .right .perks .block .flipper {
          transition: 0.6s;
          transform-style: preserve-3d;
          position: relative; }
        section .likeon-section02.copy-section04 .right .perks .block .front, section .likeon-section02.copy-section04 .right .perks .block .back {
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0; }
        section .likeon-section02.copy-section04 .right .perks .block .front {
          z-index: 2;
          /* for firefox 31 */
          transform: rotateY(0deg); }
        section .likeon-section02.copy-section04 .right .perks .block .back {
          transform: rotateY(180deg);
          padding-top: 10px; }
        section .likeon-section02.copy-section04 .right .perks .block span.text {
          color: #92f6fe;
          font-size: 15px;
          display: block; }
        section .likeon-section02.copy-section04 .right .perks .block span.text-desc {
          color: #FFFFFF;
          font-size: 13px;
          font-family: 'Roboto', sans-serif;
          display: block;
          line-height: 18px;
          margin-top: 10px; }
        section .likeon-section02.copy-section04 .right .perks .block span.heart-icon {
          display: block;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          background-image: url(../images/icons/heart.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 0;
          background-size: 120px;
          margin-bottom: 16px; }
        section .likeon-section02.copy-section04 .right .perks .block span.user-icon {
          display: block;
          width: 60px;
          height: 72px;
          margin: 0 auto;
          background-image: url(../images/icons/user.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 0;
          background-size: 120px;
          margin-bottom: 10px; }
        section .likeon-section02.copy-section04 .right .perks .block span.check-icon {
          display: block;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          background-image: url(../images/icons/check.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 0;
          background-size: 120px;
          margin-bottom: 10px; }
        section .likeon-section02.copy-section04 .right .perks .block span.user2-icon {
          display: block;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          background-image: url(../images/icons/user2.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 0;
          background-size: 120px;
          margin-bottom: 10px; }
        section .likeon-section02.copy-section04 .right .perks .block:hover {
          border: 1px double #92f6fe; }
        section .likeon-section02.copy-section04 .right .perks .block span.plus {
          color: #92f6fe;
          font-size: 26px;
          display: block;
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: 300; }
        section .likeon-section02.copy-section04 .right .perks .block.heart span.heart-icon {
          margin-top: 8px; }
        section .likeon-section02.copy-section04 .right .perks .block.heart span.plus {
          margin-top: 11px; }
        section .likeon-section02.copy-section04 .right .perks .block.heart:hover span.heart-icon {
          background-position: -60px 1px; }
        section .likeon-section02.copy-section04 .right .perks .block.user:hover span.user-icon {
          background-position: -60px 1px; }
        section .likeon-section02.copy-section04 .right .perks .block.check:hover span.check-icon {
          background-position: -60px 1px; }
        section .likeon-section02.copy-section04 .right .perks .block.user2:hover span.user2-icon {
          background-position: -60px 1px; }
        section .likeon-section02.copy-section04 .right .perks .block.check, section .likeon-section02.copy-section04 .right .perks .block.user2 {
          padding: 30px 30px; }
          section .likeon-section02.copy-section04 .right .perks .block.check span.plus, section .likeon-section02.copy-section04 .right .perks .block.user2 span.plus {
            margin-top: 10px; }
    section .likeon-section02.copy-section04 .cta-wrap {
      width: 100%;
      text-align: center;
      padding-top: 40px; }
      section .likeon-section02.copy-section04 .cta-wrap .cta {
        padding: 10px 35px; }
  section .likeon-section03 {
    width: 100%; }
    section .likeon-section03 .left {
      width: 48%;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      padding-left: 100px;
      text-align: center; }
    section .likeon-section03 .right {
      width: 50%;
      display: inline-block;
      padding-top: 44px;
      /*float: right;*/
      vertical-align: middle;
      padding-right: 110px; }
      section .likeon-section03 .right h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 53px;
        color: #92f6fe;
        font-weight: 300;
        margin-bottom: 20px; }
      section .likeon-section03 .right h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: #92f6fe;
        font-weight: 300;
        margin-bottom: 20px; }
      section .likeon-section03 .right p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 22px;
        font-weight: 300;
        padding-right: 120px; }
        section .likeon-section03 .right p font {
          color: #92f6fe; }
        section .likeon-section03 .right p b {
          font-weight: 500; }
      section .likeon-section03 .right a.cta {
        text-align: left;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 22px;
        padding: 10px 22px;
        margin-left: 30px; }
      section .likeon-section03 .right ul li {
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 30px;
        padding-left: 30px;
        position: relative; }
        section .likeon-section03 .right ul li:before {
          font-family: 'FontAwesome';
          content: '\f061';
          position: absolute;
          left: 10px;
          top: 2px;
          background-repeat: no-repeat;
          color: #92f6fe;
          font-size: 11px; }
  section .likeon-section04 {
    width: 100%; }
    section .likeon-section04 h2 {
      width: 100%;
      display: block;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 53px;
      color: #92f6fe;
      font-weight: 300;
      margin-bottom: 20px;
      clear: both;
      text-align: center; }
    section .likeon-section04 .left {
      width: 40%;
      display: inline-block;
      text-align: left;
      vertical-align: top;
      padding-left: 100px;
      /*text-align: center;*/
      padding-top: 35px; }
      section .likeon-section04 .left img {
        position: relative;
        margin-left: 50px; }
      section .likeon-section04 .left ul li {
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 30px;
        padding-left: 30px;
        position: relative;
        line-height: 22px; }
        section .likeon-section04 .left ul li:before {
          font-family: 'FontAwesome';
          content: '\f061';
          position: absolute;
          left: 10px;
          top: 2px;
          background-repeat: no-repeat;
          color: #92f6fe;
          font-size: 11px; }
        section .likeon-section04 .left ul li.q {
          color: #92f6fe; }
    section .likeon-section04 .right {
      width: 55%;
      display: inline-block;
      /*float: right;*/
      vertical-align: top;
      padding-right: 110px; }
      section .likeon-section04 .right h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: #92f6fe;
        font-weight: 400;
        margin-bottom: 20px;
        position: relative;
        top: -106px;
        display: inline-block;
        left: 288px; }
      section .likeon-section04 .right h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: #92f6fe;
        font-weight: 300;
        margin-bottom: 20px; }
      section .likeon-section04 .right p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 22px;
        font-weight: 300;
        padding-right: 120px;
        margin-bottom: 35px; }
        section .likeon-section04 .right p font {
          color: #92f6fe; }
        section .likeon-section04 .right p b {
          font-weight: 500; }
      section .likeon-section04 .right img {
        display: inline-block; }
      section .likeon-section04 .right .platform {
        position: absolute;
        width: 100%;
        height: 110px;
        background-color: #263442;
        border-radius: 2px;
        border: 1px solid rgba(143, 246, 252, 0.56);
        box-shadow: 0px 0px 68px -20px #92f6fe;
        margin-top: 200px;
        z-index: 0;
        margin-left: 98px; }
  section#section-05 {
    padding: 0; }
  section .likeon-section05 {
    width: 100%; }
    section .likeon-section05 .wrapper {
      position: inherit;
      width: 100%; }
    section .likeon-section05 .left {
      width: 50%;
      height: 100%;
      position: absolute;
      text-align: center; }
    section .likeon-section05 .right {
      width: 50%;
      height: 100%;
      position: absolute;
      left: 50%;
      text-align: center; }
      section .likeon-section05 .right .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        opacity: .3;
        z-index: 0; }
      section .likeon-section05 .right .content img {
        width: 170px; }
      section .likeon-section05 .right .content p {
        margin-bottom: 61px; }
      section .likeon-section05 .right .content h2 {
        color: #161c22; }
      section .likeon-section05 .right .content a.bto {
        /*background-color: #161c22;*/
        border: 1px solid #0A161D;
        color: #0A161D;
        box-shadow: none; }
        section .likeon-section05 .right .content a.bto:hover {
          background-color: #0A161D;
          color: #FFFFFF; }
    section .likeon-section05 .content {
      width: 390px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      margin-left: -195px; }
      section .likeon-section05 .content img {
        width: 140px;
        margin-bottom: 30px; }
      section .likeon-section05 .content h2 {
        font-size: 60px;
        color: rgba(143, 246, 252, 0.56);
        font-family: 'Roboto Condensed';
        font-weight: 300;
        margin-bottom: 20px; }
      section .likeon-section05 .content p {
        font-family: 'Roboto';
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 42px; }
      section .likeon-section05 .content a.bto {
        font-family: 'Open Sans';
        font-size: 18px;
        color: #FFF;
        padding: 7px 34px;
        /*background-color: #68b0b6;*/
        border-radius: 3px;
        border: 1px solid #92f6fe;
        color: #92f6fe;
        box-shadow: 0px 0px 20px -4px #92f6fe;
        transition: all 0.2s linear; }
        section .likeon-section05 .content a.bto:hover {
          background-color: #92f6fe;
          color: #0A161D; }

div.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 8;
  display: none; }

div.more-info {
  position: fixed;
  width: 536px;
  height: 100%;
  background-color: #3e4852;
  z-index: 9;
  padding: 80px 30px 30px 30px;
  right: -536px;
  transition: all 0.2s ease-in;
  overflow: auto; }
  div.more-info.show {
    right: 0; }
  div.more-info a.close {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 30px;
    top: 30px; }
  div.more-info h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 54px;
    color: #92f6fe;
    font-weight: 300;
    margin-bottom: 40px; }
  div.more-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 22px; }
    div.more-info p.last {
      margin-bottom: 15px; }
  div.more-info ul {
    position: relative;
    width: 100%; }
    div.more-info ul li {
      width: 50%;
      float: left;
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      padding-left: 30px;
      position: relative; }
      div.more-info ul li div.contact {
        display: block;
        width: 102px;
        height: 102px;
        border-radius: 50%;
        background-repeat: no-repeat;
        margin-bottom: 6px; }
        div.more-info ul li div.contact.contact1 {
          background-image: url(../images/contact1.jpg);
          background-position: -14px 0px; }
        div.more-info ul li div.contact.contact2 {
          background-image: url(../images/contact2.jpg); }
      div.more-info ul li span {
        display: block; }
        div.more-info ul li span.name {
          font-size: 16px; }
      div.more-info ul li a {
        color: #92f6fe;
        display: block; }
        div.more-info ul li a:hover {
          opacity: 0.7; }
      div.more-info ul li:before {
        font-family: 'FontAwesome';
        content: '\f061';
        position: absolute;
        left: 10px;
        top: 108px;
        background-repeat: no-repeat;
        color: #92f6fe;
        font-size: 11px; }

/*==========  Media Queries  ==========*/
@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1280px; } }

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .wrapper {
    width: 960px; } }

@media screen and (min-width: 768px) and (max-width: 959px) {
  .wrapper {
    width: 768px; } }

@media screen and (min-width: 669px) and (max-width: 767px) {
  .wrapper {
    width: 669px; } }

@media screen and (min-width: 320px) and (max-width: 668px) {
  .particles-background {
    opacity: 0; }
  .wrapper:not(.first-w) {
    top: 0 !important;
    margin-top: 0 !important; }
  .wrapper {
    width: 320px;
    padding: 0px 10px; }
  header nav ul.menu li.menu-el {
    display: none !important; }
  header nav.mobile {
    display: block;
    padding-top: 25px; }
  header nav.desktop {
    display: none; }
  header nav img.head-logo {
    width: 145px; }
  .indicator {
    display: none; }
  section {
    height: auto;
    padding: 40px 0px; }
  section .mobile-section-hack {
    padding-top: 80px; }
  section .discover {
    padding-top: 18px;
    background-position: center -50px; }
  section.first {
    height: 100%; }
  section .likeon-intro p, section .likeon-intro h1 {
    padding: 0; }
  section .likeon-intro h1 {
    font-size: 32px; }
  section .likeon-intro img.logo {
    width: 220px;
    margin-bottom: 42px; }
  section .likeon-section01 .left {
    width: 100%;
    padding-left: 0px;
    text-align: center; }
  section .likeon-section01 .right {
    width: 100%; }
  section .likeon-section01 .right img {
    width: 100%;
    right: 0; }
  section .likeon-section01 .right .platform {
    margin-top: 100px;
    height: 98px;
    width: 200%; }
  section .likeon-section01 .right p {
    margin-top: 40px;
    text-align: center; }
  section .likeon-section02 .left {
    width: 100%;
    padding: 0;
    text-align: center; }
  section .likeon-section02 .left h2 {
    font-size: 43px; }
  section .likeon-section02 .left p {
    padding: 0px; }
  section .likeon-section02 .right {
    width: 100%;
    position: relative; }
  section .likeon-section02 .right img {
    width: 100%;
    margin-left: 0;
    top: 0; }
  section .likeon-section02 .right .platform {
    margin-top: 168px;
    height: 178px; }
  section .likeon-section02 .right p {
    padding: 0px 20px;
    top: -94px;
    text-align: center; }
  section .likeon-section03 .left {
    width: 100%;
    padding: 0; }
  section .likeon-section03 .left img {
    width: 100%; }
  section .likeon-section03 .right {
    width: 100%;
    padding: 0;
    text-align: center;
    padding-top: 40px; }
  section .likeon-section03 .right p {
    padding: 0; }
  section .likeon-section04 h2 {
    width: 43px;
    width: 100%;
    padding: 0;
    text-align: center; }
  section .likeon-section04 .left {
    width: 100%;
    padding: 0; }
  section .likeon-section04 .left img {
    width: 100%;
    padding: 0;
    margin: 0; }
  section .likeon-section04 .right {
    width: 100%;
    padding: 0;
    text-align: center; }
  section .likeon-section04 .right p {
    padding: 0; }
  section .likeon-section05 .wrapper {
    padding: 0px; }
  section .likeon-section05 .left,
  section .likeon-section05 .right {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    clear: both;
    padding: 50px 10px; }
  section .likeon-section05 .wrapper {
    position: relative; }
  section .likeon-section05 .content {
    float: left;
    width: 100%;
    position: relative;
    top: 0;
    transform: initial;
    margin: 0px;
    left: 0px; } }
